---
import Content from '../components/widgets/Content.astro';
import Hero from '../components/widgets/Hero.astro';
import Layout from '../layouts/PageLayout.astro';

import { company } from '../content/pages/content.json';

const metadata = {
  title: 'Comoany',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline={company.hero.tagline}
    
  >
    <Fragment slot="title">
      <Fragment set:html={company.hero.title} />
    </Fragment>

    <Fragment slot="subtitle">
      <Fragment set:html={company.hero.subtitle} />
    </Fragment>
  </Hero>

  <Content
    isReversed
    tagline=""
    title=""
    description=""
    image={company.content1.image}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        {company.content1.title}
      </h3>
      {company.content1.subtitle}
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    image={company.content2.image}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        {company.content2.title}
      </h3>
        {company.content2.subtitle}
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    image={company.content3.image}
    isReversed
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        {company.content3.title}
      </h3>
        {company.content3.subtitle}
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  
</Layout>
