---
import Content from '../components/widgets/Content.astro';
import Hero from '../components/widgets/Hero.astro';
import Layout from '../layouts/PageLayout.astro';

import content from '../content/pages/content.json';

const content_company = content.company;
const { hero, content1, content2 } = content_company;


const metadata = {
  title: 'Comoany',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline={hero.tagline}
    image={hero.image}
  >
    <Fragment slot="title">
      <Fragment set:html={hero.title} />
    </Fragment>

    <Fragment slot="subtitle">
      <Fragment set:html={hero.subtitle} />
    </Fragment>
  </Hero>

  <Content
    isReversed
    tagline=""
    title=""
    description=""
    image={content1.image}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        {content1.title}
      </h3>
      {content1.subtitle}
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    image={content2.image}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        {content2.title}
      </h3>
        {content2.subtitle}
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  
</Layout>
