---
import Layout from '~/layouts/PageLayout.astro';

import Hero3 from '~/components/widgets/Hero3.astro';
// import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
// import GoogleForm from '../components/widgets/GoogleForm.astro';
import ContactUs from '../components/widgets/Contact.astro';

// import Announcement from '~/components/widgets/Announcement.astro';

import { index, contact } from '../content/pages/content.json';

const metadata = {
  title: index.metadata,
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero3 image={index.hero.image} isReversed={index.hero.isReversed}>
    <Fragment slot="title">
      {index.hero.title}
      <span class="hidden xl:inline"></span>
      <p>
        <span class="text-accent bg-gray-100 px-2 py-0 rounded dark:bg-gray-300 dark:text-accent">
          {index.hero.title2}
        </span>
      </p>
    </Fragment>

    <!-- <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Tejas Automation</span> is a subtext subtext...</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Tejas Automation: Production-ready.</span>
       Suitable for Oil and Gas Producers, etc etc etc.
    </Fragment> -->
  </Hero3>

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <!-- Features Widget *************** -->

  <Features id="features" items={index.features.items} />

  <ContactUs
    title={contact.contactus.title}
    subtitle={contact.contactus.subtitle}
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
      {
        type: 'phone',
        name: 'phone',
        label: 'Phone number',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    disclaimer={{
      label: contact.contactus.disclaimer,
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </ContactUs>
</Layout>
