---
import Layout from '~/layouts/PageLayout.astro';

// import Hero3 from '~/components/widgets/Hero3.astro';

import HeroText from '../components/widgets/HeroText.astro';

// import Note from '~/components/widgets/Note.astro';
// import Features from '~/components/widgets/Features.astro';
// import GoogleForm from '../components/widgets/GoogleForm.astro';
import ContactUs from '../components/widgets/Contact.astro';
import Stats from '../components/widgets/Stats.astro';

import Content from '../components/widgets/Content.astro';

import FAQs from '~/components/widgets/FAQs.astro';

// import Announcement from '~/components/widgets/Announcement.astro';

import { index, contact } from '../content/pages/content.json';

const metadata = {
  title: index.metadata,
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <HeroText 
    title = {index.hero.title}
    subtitle = {index.hero.subtitle}
  />

  <!-- Content Widget *************** -->

  <Content id="problem" title={index.problems.title} subtitle="" tagline={index.problems.tagline} items={index.problems.items} image={index.problems.image}>
    <!-- <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        {index.problems.content_text}
      </h2>
    </Fragment> -->
  </Content>

  <!-- Content Widget *************** -->

  <Content
    id="features"
    title = {index.content.title}
    subtitle= {index.content.subtitle}
    tagline = {index.content.tagline}
    items = {index.content.items}
    image = {index.content.image}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Stats
  title="We're helping"
  stats={[
    { amount: '8', title: 'Operators'},
    { amount: '34', title: 'Leases'},
    { amount: '300', title: 'Oil Wells'},
  ]}
/>

  

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"    
    tagline="FAQs"
    id="faq"
    columns={1}
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'What is Tank Gauging?',
        description:
          "Tank gauging is the process of measuring the level of liquid (such as oil, fuel, or chemicals) inside storage tanks. It is crucial for industries that rely on accurate inventory management and monitoring of fluid levels.",
      },
      {
        title: 'What is Smart Tank Monitoring?',
        description:
          'Smart tank monitoring refers to the use of advanced technology, such as sensors, communication networks, and data analytics, to monitor and manage fluid levels in storage tanks remotely and intelligently.',
      },
      {
        title: 'How do I get started?',
        description:
          "Contact your Field Representative-Installer",
      },
      {
        title: "Domain Expertise",
        description:
          "With a has a combined 30 yrs. of oil and gas expertise with hands-on industry experience. We are well tuned to the needs of the market and understand constraints faced by our clients.",
      },
      {
        title: 'Service-Support',
        description:
          "Our commitment to your satisfaction extends beyond the point of purchase, with a suite of services-support offerings designed to provide you with the assistance and resources you need to make the most of our products or services.",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- ContactUs Widget *************** -->

  <ContactUs
    title={contact.contactus.title}
    subtitle={contact.contactus.subtitle}
    tagline={contact.contactus.tagline}
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
      {
        type: 'phone',
        name: 'phone',
        label: 'Phone number',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    disclaimer={{
      label: contact.contactus.disclaimer,
    }}
  />
</Layout>
