---
import Layout from '../../layouts/PageLayout.astro';

import Hero2 from '../../components/widgets/Hero2.astro';
import CallToAction from '../../components/widgets/CallToAction.astro';

import { getPermalink } from '../../utils/permalinks';

import Content from '../../components/widgets/Content.astro';
import Steps from '../../components/widgets/Steps.astro';

import { solutions_smarttank } from '../../content/pages/content.json';

const { hero, content1, content2, content3, steps } = solutions_smarttank;

const metadata = {
  title: solutions_smarttank.title,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    tagline={hero.tagline}
    title={hero.title}
    subtitle={hero.description}
    image={{
      src: hero.image,
      alt: hero.alt,
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    title ={content1.title}
    isReversed={content1.isReversed}
    isAfterContent={content1.isAfterContent}
    items={content1.items}
    image={content1.image}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">{content1.slot}</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed={content2.isReversed}
    isAfterContent={content2.isAfterContent}
    items={content2.items}
    image={content2.image}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">{content2.slot}</h3>
    </Fragment>

    <!-- <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment> -->
  </Content>

  <Content
    isReversed={content3.isReversed}
    isAfterContent={content3.isAfterContent}
    items={content3.items}
    image={content3.image}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">{content3.slot}</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title={steps.title}
    tagline={steps.tagline}
    isReversed={steps.isReversed}
    items={steps.items}
    image={steps.image}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        // target: '_blank',
        text: 'Contact Us',
        href: getPermalink('/contact'),
        // icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">Be a part of our vision</Fragment>

    <Fragment slot="subtitle"> Call for action text. </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </CallToAction>
</Layout>
